.container > aside {
    width: 30%;                                                  /* Chiều rộng là 25% */
    background-color: lightgray;                               /* Màu nền là màu xám nhạt */
    float: right;                                             /* Nổi phần tử sang phải */
    position: absolute;
    top: 90px;
    right: 0px;
    box-shadow: 0 0 5px orange;
    border-radius: 5px;
    height: 400px;
}

.vmenu {
    padding: 0px;                                                /* Xóa đệm */
    margin: 0;                                                   /* Xóa lề */
    list-style: none;                                            /* Ẩn kiểu danh sách */
    border-radius: 3px;                                          /* Làm tròn góc với bán kính 3px */
    box-shadow: 0 0 5px orange;                                /* Thêm hiệu ứng bóng */
}

.vmenu > li > a {
    background: url('../img/iconnew.jpg') no-repeat 10px center; /* Hình nền */
    display: block;                                              /* Hiển thị là khối */
    border-bottom: 1px dotted orangered;                       /* Đường kẻ chia cách */
    color: orangered;                                          /* Màu chữ cam đỏ */
    font-variant: small-caps;                                    /* Viết hoa chữ cái nhỏ */
    font-size: larger;                                           /* Kích thước chữ lớn */
    text-decoration: none;                                       /* Loại bỏ gạch chân */
    padding-left: 25px;                                          /* Đệm bên trái */
    line-height: 30px;                                           /* Chiều cao dòng */
}

.vmenu a:hover {
    background: url('../img/header.jpg') no-repeat 10px center;  /* Hình nền khi hover */
    color: rgb(30, 0, 255);                                    /* Màu chữ xanh lam */
    font-weight: bolder;                                         /* Chữ đậm */
}

.sanphamtrangchu{
    clear: both;
}