.container > header{
    line-height: 110px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.menu>ul>li{
    display: inline-block;
    position: relative;
}

.menu>ul>li a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
    line-height: 70px;
    color: black;
}

.menu > ul > li > a:hover{
    color: orange;
}

.menu > ul > li:hover > ul {
    display: block;                         /* Hiển thị danh sách con */
}

.menu > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
}

.menu ul ul{
    position: absolute;
    z-index: 1;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

.menu ul ul a{
    display: block;
    line-height: 30px;
    color: black;                        /* Màu chữ đen */
    text-decoration: none;                  /* Loại bỏ gạch chân */
    font-variant: small-caps;               /* Viết hoa chữ cái nhỏ */
    font-size: larger;                      /* Kích thước chữ lớn */
    padding: 0 10px;  
    border-bottom: 1px dotted black; 
}

.menu ul ul a:hover{
    background-color: white;
    color: orange;
}

.container header .icon{
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
}

.container header .icon img{
    padding: 20px;
}

.icon1{
    position: absolute;
    top: 5px;
    left: 545px;
}