/* Định dạng menu */
.menu {
    display: flex;              /* Sử dụng Flexbox */
}

/* Định dạng mỗi mục menu */
.menu-item {
    position: relative;         /* Định dạng vị trí tương đối */
    padding: 0 10px;            /* Tạo khoảng cách padding bên trong */
}

/* Định dạng liên kết trong mỗi mục menu */
.menu-item > a {
    display: block;             /* Hiển thị dạng khối */
    text-decoration: none;      /* Loại bỏ gạch chân */
    font-variant: small-caps;   /* Viết hoa chữ cái nhỏ */
    font-size: larger;          /* Kích thước chữ lớn */
    line-height: 70px;          /* Chiều cao dòng */
    color: black;               /* Màu chữ đen */
    padding: 0 10px;            /* Tạo khoảng cách padding bên trong */
}

/* Định dạng khi rê chuột vào mỗi liên kết trong mục menu */
.menu-item > a:hover {
    color: greenyellow;         /* Màu chữ khi rê chuột vào */
}

/* Định dạng danh sách con xuất hiện khi rê chuột vào mỗi mục menu */
.submenu {
    display: none;              /* Ẩn danh sách con ban đầu */
    position: absolute;         /* Định dạng vị trí tuyệt đối */
    top: 100%;                  /* Canh chỉnh từ trên xuống dưới */
    left: 0;                    /* Canh chỉnh từ trái sang phải */
    background-color: white; /* Màu nền */
    box-shadow: 0 0 1px gray; /* Hiển thị đổ bóng */
    border-radius: 3px;         /* Định dạng viền cong */
    white-space: nowrap;        /* Không cho các mục con xuống dòng */
}

/* Định dạng khi rê chuột vào mỗi mục menu để hiển thị danh sách con */
.menu-item:hover .submenu {
    display: flex;              /* Hiển thị danh sách con theo chiều dọc */
    flex-direction: column;     /* Xếp các mục con theo chiều dọc */
}

/* Định dạng mỗi mục con trong danh sách con */
.submenu-item > a {
    display: block;             /* Hiển thị dạng khối */
    text-decoration: none;  /* Loại bỏ gạch chân */
    font-variant: small-caps; /* Viết hoa chữ cái nhỏ */
    font-size: larger;          /* Kích thước chữ lớn */
    padding: 5px 10px;          /* Tạo khoảng cách padding */
    color: black;            /* Màu chữ đen */
    border: 1px solid black; /* Định dạng viền */
    margin-bottom: 5px;         /* Tạo khoảng cách giữa các mục con */
}

/* Định dạng khi rê chuột vào mỗi mục con trong danh sách con */
.submenu-item > a:hover {
    color: greenyellow;     /* Màu chữ khi rê chuột vào */
}

/* Định dạng cho mỗi mục con cuối cùng trong danh sách con */
.submenu-item > a:last-child {
    margin-bottom: 0;       /* Loại bỏ khoảng cách dưới cùng */
}